# تجاهل ملفات البيئة الافتراضية
.venv/

# تجاهل ملفات الكاش التي يولدها بايثون
__pycache__/
*.pyc
*.db

# تجاهل ملفات البيانات الكبيرة (اختياري)
data/raw/
data/processed/
models/

# تجاهل ملفات السجلات
logs/
.DS_Store
Thumbs.db
 s